body{
    font-size: 16px;
    padding: 15px;
}
    header .navbar {
        padding: 0;
        flex-direction: row;
        justify-content: space-between;
    }
.ul{
    flex-direction: row;
    gap: 20px; 
    
}
