body{
    font-size: 14px;
    padding: 10px;
}
    header .navbar {
      
        flex-direction: column;
        align-items: center;
    }
.ul{
    flex-direction: column;
    gap: 10px; 

}
.img {
    flex-wrap: wrap;
    
}
.img img {
    width: 40%;
}

.lina {
    flex-wrap: wrap;
}