*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
background-color: #3574e6;
/* padding: 20px 20px ; */
}
.navbar {
  color: white;
  font-size: 24px;
  font-weight: bold;

  display: flex;
justify-content: space-between;
align-items: center;
padding-left: 100px;
}
 
.ul{
  list-style: none;
  display: flex;
  padding-right: 150px;
  gap: 80px;
}
.ul a{
  text-decoration: none;
  color: white;
  font-size: 16px;
  border: solid 1px #0151cc;
  padding: 3px;
  border-radius: 8px;
}
.ul a:hover {
  font-size: 20px
}
.img {
  background-color:#0151cc ;
  display: flex;
  justify-content: center;
  align-items: center;
}
.one{
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  max-width: 500px;
}
img{
  width: 240px;
}


.two{
  height: 500px;
  background-color: #a1c3ff;
   display: flex;
  align-items: center;
  justify-content: center;


}
.lina {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  /* justify-content: space-between; */
  /* background-color: #0151cc; */
}
.mila {
  width: 300px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 20px;
  padding: 20px;
  background-color: #0151cc;
  color: white;
  border-radius: 10px;
}
aside{
  display: flex;
  gap: 20px;
  align-items: center;
}